.button {
  background-color: #e5e5e5;
  text-align: center;
  text-decoration: none;
  color: #14213d;
  padding: 0.5rem 2rem;
  border-radius: 0.5em;
  font-size: 1.3rem;
  border: 2px solid #14213d;
  transition: background 200ms ease-in, color 200ms ease-in;
  margin-left: 1rem;
}

.button:hover {
  background-color: #fca311;
  color: #14213d;
  transform: scale(1.02);
  cursor: pointer;
  transition: transform 200ms ease-in;
  border: 2px solid #14213d;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.button:disabled {
  opacity: 0.5;
}
